* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

/* GLOBALNE USTAWIENIA  */

a {
    text-decoration: none;
    color: black;
}

section {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/* NAWIGACJA STRZAŁKA */
div.ikonaMenu {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 2%;
    right: 2%;
    cursor: pointer;
    z-index: 100;
}

div.ikonaMenu i {
    color: white;
    font-size: 50px;
    opacity: 0;
    animation: opacity1 2s linear infinite;
    transition: 0.5s;
}

@keyframes opacity1 {
    0% {
        transform: rotateY(0);
    }

    100% {
        transform: rotateY(360deg);
    }
}

/* NAWIGACJA STRONA GŁÓWNA */

section.slajder {
    width: 100%;
    height: 100vh;
    background-image: url(zdj/slajder/TłoSlajder.jpg);
    transition: 0.4s;
    transition-delay: 0.1s;
}

div.container1 {
    width: 50%;
    height: 50vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(211, 211, 211, 30%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: flex-start;
    font-size: 50px;
    box-shadow: 0px 0px 200px 100px rgba(0, 0, 0, 0.75);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    animation: containeropacity 0.6s;
    overflow: hidden;
    transition: 0.5s;
}

.addMe {
    background-image: url(zdj/slajder/me.png);
}

.addTech {
    background-image: url(zdj/slajder/tech.png);
}

.addHobby {
    background-image: url(zdj/slajder/hobby.png);
}

.addPortfolio {
    background-image: url(zdj/slajder/portfolio.png);
    background-size: 45% !important;
}

.addKontakt {
    background-image: url(zdj/slajder/kontakt.png);
    background-size: 45% !important;
}


div.container1 div {
    position: relative;
    background-color: rgba(211, 211, 211, 50%);
    padding: 10px;
    margin: 5px;
    text-align: center;
    box-shadow: 0px 0px 30px 5px rgba(70, 70, 70, 0.75);
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 1s;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

div.container1 div:hover {
    background-color: rgba(255, 255, 255, 80%);
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.75);
    letter-spacing: 3px;
}

div.container1 div.me {
    height: 30%;
    width: 25%;
    animation: rolltop 1s 0.5s both;
}

div.container1 div.tech {
    height: 40%;
    width: 45%;
    animation: rolltop 1s 0.5s both;
}

div.container1 div.hobby {
    height: 25%;
    width: 23%;
    animation: rollright 1s 0.5s both;
}

div.container1 div.portfolio {
    height: 25%;
    width: 55%;
    animation: rollleft 1s 0.5s both;
}

div.container1 div.kontakt {
    height: 40%;
    width: 30%;
    animation: rollbottom 1s 0.5s both;
}

div.container1 div p {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@keyframes containeropacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}


@keyframes rollleft {
    0% {
        transform: translateX(-1000px) rotate(-720deg);
        filter: blur(50px);
        opacity: 0;
    }

    100% {
        transform: translateX(0) rotate(0deg);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes rolltop {
    0% {
        transform: translateY(-800px) rotate(-720deg);
        filter: blur(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0) rotate(0deg);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes rollright {
    0% {
        transform: translateX(1000px) rotate(720deg);
        filter: blur(50px);
        opacity: 0;
    }

    100% {
        transform: translateX(0) rotate(0deg);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes rollbottom {
    0% {
        transform: translateY(800px) rotate(720deg);
        filter: blur(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
}

/* SECTION O MNIE */

section.meSection {
    background-color: khaki;
    height: 100vh;
    background-image: url(zdj/slajder/omnie.jpg);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

section.meSection .divMe1 {
    grid-area: 1 / 1 / 2 / 2;
    position: relative;
}

section.meSection .divMe1 div.back {
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid black;
    box-shadow: 0px 0px 200px 100px rgba(0, 0, 0, 0.75);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    width: 70%;
    text-align: center;
    opacity: 0;
    transition: 0.8s;
}

section.meSection .divMe1 div.back h1 {
    font-size: 50px;
    font-family: 'Raleway', sans-serif;
}

section.meSection .divMe1 div.back p {
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
}

section.meSection .divMe2 {
    grid-area: 1 / 2 / 2 / 3;
    position: relative;
}

section.meSection .divMe2 img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(211, 211, 211, 50%);
    border: 1px solid black;
    box-shadow: 0px 0px 200px 100px rgba(0, 0, 0, 0.75);
    opacity: 0;
    transition: 0.8s;
}



/* SECTION TECH */

section.techSection {
    height: 100vh;
    background-image: url(zdj/slajder/technologie.jpg);
}

section.techSection h1 {
    padding: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    text-align: center;
    background-color: rgba(240, 240, 240, 0.5);
    border: 1px solid black;
    box-shadow: 0px 0px 200px 100px rgba(0, 0, 0, 0.75);
    text-transform: uppercase;
    opacity: 0;
    transition: 0.5s;
}

.swiper2 {
    width: 100%;
    padding-top: 15vh;
    padding-bottom: 50px;
}

.swiper2 .swiper-pagination-bullet-active {
    background-color: rgb(255, 255, 255);
}

.slide2 {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    position: relative;
    background-color: rgba(255, 255, 255, 80%);
    box-shadow: inset 0px 0px 5px 10px rgba(0, 0, 0, 0.75);
}


.slide2 i {
    font-size: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.slide2 img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 250px;
    max-height: 300px;
}


/* HOBBY */
section.hobbySection {
    height: 100vh;
    background-image: url(zdj/slajder/shobby.jpg);
}

section.hobbySection h1 {
    height: 15vh;
    padding: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    text-align: center;
    background-color: rgba(240, 240, 240, 0.5);
    border: 1px solid black;
    box-shadow: 0px 0px 200px 100px rgba(0, 0, 0, 0.75);
    text-transform: uppercase;
    opacity: 1;
    transition: 0.5s;
}


.swiper-container {
    width: 100%;
    height: 75%;
    transition: 0.5s;
}

.swiper-container .swiper-pagination-progressbar-fill {
    background-color: rgba(255, 255, 255, 85%);
}

.swiper-container .swiper-button-next,
.swiper-button-prev {
    color: rgb(255, 255, 255);
}

.swiper-slide {
    margin-top: 30px;
    text-align: center;
    font-size: 18px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}


/* PORTFOLIO */
section.portfolioSection {
    background-image: url(zdj/slajder/sportfolio.jpg);
    height: 100vh;
    position: relative;
}

section.portfolioSection h1 {
    padding: 20px;
    height: 15vh;
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    text-align: center;
    background-color: rgba(240, 240, 240, 0.5);
    border: 1px solid black;
    box-shadow: 0px 0px 200px 100px rgba(0, 0, 0, 0.75);
    text-transform: uppercase;
    /* opacity: 0; */
    transition: 0.5s;
}


.swiper3 {
    width: 400px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -200px;
}

.swiper3 .swiper-pagination-bullet-active {
    background-color: rgb(66, 66, 66);
}

.swiper3 .swiper-pagination {
    bottom: -5%;
    transform: translateY(-50%);
}


.slide3 {
    background-color: rgba(240, 240, 240, 0.5);
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.75);
}

.wrapper3 .slide3 h1 {
    box-shadow: none;
    font-size: 30px;
    height: auto;
}

.wrapper3 .slide3 p {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

.wrapper3 .slide3 i {
    font-size: 90px;
    margin: 10px;
    color: rgb(66, 66, 66);
}

.wrapper3 .slide3 i:hover {
    color: black;
}

div.instruction {
    position: absolute;
    left: 50%;
    bottom: 1%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}

div.instruction div {
    display: inline-block;
    margin: 0 50px;
}

div.instruction div:nth-of-type(2) {
    position: absolute;
    left: 35%;
    top: 0;
    transform: translateX(-50%);
    animation: animation1 4s ease infinite;
}

@keyframes animation1 {
    0% {
        left: 35%;
    }

    10% {
        left: 40%;
    }

    20% {
        left: 35%;
    }

    30% {
        left: 30%;
    }

    40% {
        left: 35%;
    }

    100% {
        left: 35%;
    }
}



/* KONTAKT */
section.kontaktSection {
    background-image: url(zdj/slajder/skontakt.jpg);
    height: 100vh;
    position: relative;
}

div.kontaktContainer {
    position: absolute;
    right: 8%;
    bottom: 30%;
    transition: 0.4s;
}

div.kontaktContainer ul li {
    list-style: none;
    display: inline-block;
    font-size: 80px;
    margin: 10px;
    cursor: pointer;
}

div.kontaktContainer ul li a {
    text-decoration: none;
    color: rgb(66, 66, 66);
}

div.kontaktContainer ul li:nth-of-type(1) a:hover {
    color: #0084FF;
}

div.kontaktContainer ul li:nth-of-type(2) a:hover {
    color: #EA4335;
}

div.kontaktContainer ul li:nth-of-type(3) a:hover {
    color: black;
}

div.kontaktContainer ul li:nth-of-type(4) a:hover {
    color: #1666C5;
}

/* FOOTER */
footer {
    background-color: rgb(44, 44, 44);
    color: white;
    text-align: center;
}